/* Component Roles */
.roles{
    display: flex;
    max-width: 1000px;
    margin-left: 30px;
    flex: 1;
    box-sizing: border-box;
}

.roles-card{
    display: flex;
    flex: 1;
    border: none;
}

.roles-card .card-header {
    display: flex;
    justify-content: space-between;
}

.roles-card .card-header h5{
    margin: 0;
}

.roles-card .card-header .nav-link{
    padding: 0;
}

.roles-card-body{
    padding: 0;
}

.roles-card-text{
    padding: 20px;
    margin: 0;
}

.roles-card-text p{
    margin: 0;
}

.roles-table .table{
    margin-bottom: 0;
}

.iconView, .iconEdit, .iconDelete{
    height: 20px;
    width: 18px;
}

.iconDelete:hover{
    cursor: pointer;
}
  
td a.nav-link{
    padding: 0;
    display: inline-block;
    margin-right: 5px;
}

/* Component View */
.view-role{
    display: flex;
    max-width: 1000px;
    margin-left: 30px;
    flex: 1;
    box-sizing: border-box;
}

.view-role-card{
    display: flex;
    flex: 1;
    border: none;
}

.view-role-card .card-header{
    display: flex;
}

.iconBack{
    margin-right: 15px;
}

.view-role-card .card-header h5{
    margin: 0;
}

.view-role-card .card-header .nav-link{
    padding: 0;
}

.view-role-card-body{
    padding: 0;
    margin-top: 10px;
}

/* Component Form */
form{
    padding-left: 25px;
}

.form-row{
    margin: 0;
}

.form-group{
    width: 50%;
}

/* Component Create */
.create-role{
    display: flex;
    max-width: 1000px;
    margin-left: 30px;
    flex: 1;
    box-sizing: border-box;
}

.create-role-card{
    display: flex;
    flex: 1;
    border: none;
}

.create-role-card .card-header{
    display: flex;
}

.iconBack{
    margin-right: 15px;
}

.create-role-card .card-header h5{
    margin: 0;
}

.create-role-card .card-header .nav-link{
    padding: 0;
}

.create-role-card-body{
    padding: 0;
    margin-top: 10px;
}

/* Component Edit */
.edit-role{
    display: flex;
    max-width: 1000px;
    margin-left: 30px;
    flex: 1;
    box-sizing: border-box;
}

.edit-role-card{
    display: flex;
    flex: 1;
    border: none;
}

.edit-role-card .card-header{
    display: flex;
}

.iconBack{
    margin-right: 15px;
}

.edit-role-card .card-header h5{
    margin: 0;
}

.edit-role-card .card-header .nav-link{
    padding: 0;
}

.edit-role-card-body{
    padding: 0;
    margin-top: 10px;
}


@media only screen and (max-width: 576px){
    /* Component Roles */
    .roles{
        margin: 0;
        padding: 10px;
    }

    .roles-card .card-header{
        padding: 10px 0;
    }

    .roles-card-text{
        padding: 10px 0;
        text-align: justify;
    }

    .roles-table .table thead tr{
        text-align: center;
    }

    .roles-table .table thead th {
        padding: 6px;
    }

    .roles-table .table td {
        padding: 6px;
        text-align: center;
    }

    .roles-table .table th:nth-child(3){
        display: none;
    }

    .roles-table .table td:nth-child(3){
        display: none;
    }

    /* Component View */
    .view-role{
        margin: 0;
        padding: 10px;
        width: 100%;
    }

    .view-role-card .card-header{
        padding: 10px 0;
    }

    /* Component Form */
    form{
        padding-left: 0;
    }

    .form-group{
        width: 100%;
    }

    /* Component Create */
    .create-role{
        margin: 0;
        padding: 10px;
        width: 100%;
    }

    .create-role-card .card-header{
        padding: 10px 0;
    }

    /* Component Edit */
    .edit-role{
        margin: 0;
        padding: 10px;
        width: 100%;
    }

    .edit-role-card .card-header{
        padding: 10px 0;
    }
}
