.roles{
    display: flex;
    max-width: 1000px;
    margin-left: 30px;
    flex: 1;
    box-sizing: border-box;
}

.roles-card{
    display: flex;
    flex: 1;
    border: none;
}

.roles-card-text{
    padding: 20px 20px 0;
}

.roles-card-body{
    padding: 0;
}

.table{
    margin-bottom: 0;
}

.view, .edit, .delete{
    height: 20px;
    width: 18px;
}
  
td a{
    margin-right: 5px;
}

@media only screen and (max-width: 576px){
    .roles{
        margin: 0;
        padding: 10px;
    }

    .card-header{
        padding: 10px 0;
        text-align: center;
    }

    .roles-card-text{
        padding: 10px 5px 0 5px;
    }

    thead tr{
        text-align: center;
    }
    
    th:nth-child(3){
        display: none;
    }

    td:nth-child(3){
        display: none;
    }

    td:nth-child(4){
        text-align: right;
    }

    .table thead th {
        padding: 6px;
    }

    .table td {
        padding: 6px;
    }
}
