.roles{
    display: flex;
    max-width: 1000px;
    margin-left: 30px;
    flex: 1;
    box-sizing: border-box;
}

.view-role{
    max-width: 700px;
    width: 100%;
    margin-left: 30px;
}

.view-role-card{
    border: none;
}

.view-role-card-body{
    padding: 10px 0 0;
}

.roles-card{
    display: flex;
    flex: 1;
    border: none;
}

.view-role-card .card-header{
    padding-left: 10px;
}

.view-role-card .card-header a{
    display: inline;
    padding: 0;
    margin: 0;
}

.card-header h5{
    display: inline-block;
    margin: 0;
    height: 100%;
    vertical-align: middle;
}

.btn-new{
    background-color: #0E4097;
    border-color: #0E4097;
    float: right;
}

.btn-back{
    background-color: #0E4097;
    border-color: #0E4097;
    float: left;
    margin-right: 15px;
}

.roles-card-text{
    padding: 20px 20px 0;
}

.roles-card-body{
    padding: 0;
}

.table{
    margin-bottom: 0;
}

.viewIcon, .editIcon, .deleteIcon{
    height: 20px;
    width: 18px;
}
  
td a{
    margin-right: 5px;
}

td a.nav-link{
    padding: 0;
    margin: 0;
    display: inline-block;
    margin-right: 5px;
}

@media only screen and (max-width: 576px){
    .roles{
        margin: 0;
        padding: 10px;
    }

    .view-role{
        margin: 0;
        padding: 10px;
    }

    .card-header{
        padding: 10px 0;
        text-align: center;
    }

    .view-role-card-header{
        padding: 10px 0;
        text-align: center;
    }

    .roles-card-text{
        padding: 10px 5px 0 5px;
    }

    thead tr{
        text-align: center;
    }
    
    th:nth-child(3){
        display: none;
    }

    td:nth-child(3){
        display: none;
    }

    td:nth-child(4){
        text-align: right;
    }

    .table thead th {
        padding: 6px;
    }

    .table td {
        padding: 6px;
    }
}
