.cv-img{
    max-width: 350px;
    max-height: 350px;
}

.container{
    overflow: hidden;
    display: flex;
}

.container p{
    display: block;
    text-align: justify;
}

.jumbotron{
    background-color: white;
}

.text-div{
    margin-left: 15px;
}

figcaption {
    text-align: center;
}

/* unvisited link */
.home-link:link {
    color: #1a0dab;
}
  
/* visited link */
.home-link:visited {
    color: #609;
}

/* selected link */
.home-link:active {
    color: blue;
}

@media only screen and (max-width: 576px){
    .container{
        display: block;
    }

    .div-img{
        text-align: center;
    }
 }