.cv-img{
    max-width: 350px;
    max-height: 350px;
    float: left;
    margin-right: 15px;
}

.container{
    overflow: hidden;
}

.container p{
    display: block;
    text-align: justify;
}

.jumbotron{
    background-color: white;
}

/* unvisited link */
.home-link:link {
    color: #1a0dab;
}
  
/* visited link */
.home-link:visited {
    color: #609;
}

/* selected link */
.home-link:active {
    color: blue;
}