/* Component Variables */
.variables{
    display: flex;
    max-width: 1000px;
    margin-left: 30px;
    flex: 1;
    box-sizing: border-box;
    flex-direction: column;
}

.variables-card{
    display: flex;
    flex: 1;
    border: none;
}

.variables-card .card-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.variables-card .card-header h5{
    margin: 0;
}

.variables-card .card-header .nav-link{
    padding: 0;
}

.download-catalog{
    padding-left: 20px;
}

.variables-card-body{
    padding: 0;
}

.variables-pagination{
    display: flex;
    justify-content: center;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
    margin-bottom: 45px;
}

.pagination > li {
    display: inline;
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
    margin-left: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    color: #fff;
    background-color: #0E4097;
    border-color: #0E4097;
    cursor: default;
}

.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #0E4097;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
}

.pagination > li > a:hover{
    background-color: #ddd;
}

.variables-table .table{
    margin-bottom: 0;
}

.iconView, .iconEdit, .iconDelete{
    height: 20px;
    width: 18px;
}

.iconDownload{
    height: 18px;
    width: 18px;
}

.iconDelete:hover{
    cursor: pointer;
}
  
td a.nav-link{
    padding: 0;
    display: inline-block;
    margin-right: 5px;
}

/* Component View */
.view-variable{
    display: flex;
    max-width: 1000px;
    margin-left: 30px;
    flex: 1;
    box-sizing: border-box;
}

.view-variable-card{
    display: flex;
    flex: 1;
    border: none;
}

.view-variable-card .card-header{
    display: flex;
    justify-content: flex-start;
}

.iconBack{
    margin-right: 15px;
}

.view-variable-card .card-header h5{
    margin: 0;
}

.view-variable-card .card-header .nav-link{
    padding: 0;
}

.view-variable-card-body{
    padding: 0;
    margin-top: 10px;
}

/* Component Form */
form{
    padding-left: 25px;
}

.form-row{
    margin: 0;
}

.form-group{
    width: 50%;
}

/* Component Create */
.create-variable{
    display: flex;
    max-width: 1000px;
    margin-left: 30px;
    flex: 1;
    box-sizing: border-box;
}

.create-variable-card{
    display: flex;
    flex: 1;
    border: none;
}

.create-variable-card .card-header{
    display: flex;
    justify-content: flex-start;
}

.iconBack{
    margin-right: 15px;
}

.create-variable-card .card-header h5{
    margin: 0;
}

.create-variable-card .card-header .nav-link{
    padding: 0;
}

.create-variable-card-body{
    padding: 0;
    margin-top: 10px;
}

/* Component Edit */
.edit-variable{
    display: flex;
    max-width: 1000px;
    margin-left: 30px;
    flex: 1;
    box-sizing: border-box;
}

.edit-variable-card{
    display: flex;
    flex: 1;
    border: none;
}

.edit-variable-card .card-header{
    display: flex;
    justify-content: flex-start;
}

.iconBack{
    margin-right: 15px;
}

.edit-variable-card .card-header h5{
    margin: 0;
}

.edit-variable-card .card-header .nav-link{
    padding: 0;
}

.edit-variable-card-body{
    padding: 0;
    margin-top: 10px;
}


@media only screen and (max-width: 576px){
    /* Component Variables */
    .variables{
        margin: 0;
        padding: 10px;
        width: 100%;
    }

    .variables-card .card-header{
        padding: 10px 20px;
    }

    .variables-table .table thead tr{
        text-align: center;
    }

    .variables-table .table thead th {
        padding: 6px;
    }

    .variables-table .table td {
        padding: 6px;
        text-align: center;
    }

    .modal-footer{
        flex-wrap: nowrap;
    }

    /* Component View */
    .view-variable{
        margin: 0;
        padding: 10px;
        width: 100%;
    }

    .view-variable-card .card-header{
        padding: 10px;
    }

    /* Component Form */
    form{
        padding-left: 0;
    }

    .form-group{
        width: 100%;
    }

    /* Component Create */
    .create-variable{
        margin: 0;
        padding: 10px;
        width: 100%;
    }

    .create-variable-card .card-header{
        padding: 10px 0;
    }

    .create-variable-card-body form {
        padding: 0;
    }

    /* Component Edit */
    .edit-variable{
        margin: 0;
        padding: 10px;
        width: 100%;
    }

    .edit-variable-card .card-header{
        padding: 10px 0;
    }

    .edit-variable-card-body form {
        padding: 0;
    }
}
