html, body {
    height: 100%;
    margin: 0 auto;
}

.App, #root {
    margin: 0 auto;
}

#root {
    min-height: 100%;
    position: relative;
}

.App{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
}

.hidden{
    display:none;
}

.block{
    display:block;
}

.w-25{
    width:25%;
}
