.container{
    margin: 0 auto;
    padding: 60px 30px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

@media (min-width: 576px) and (max-width: 768px){
    .container{
        padding: 0;
        margin: 30px auto 0;
        max-width: 100%;
    }
}

@media only screen and (max-width: 576px){
    .container{
        margin-top: 10px;
        padding: 0;
        flex-direction: column;
    }
    
    .App{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}