.search-variable {
    display: flex;
    max-width: 1000px;
    margin-left: 30px;
    flex: 1 1;
    box-sizing: border-box;
    flex-direction: column;
}

.search-variable-card {
    border: none;
}
.search-variable-card-body {
    padding: 0;
}

.form-name {
    padding-left: 0;
    margin-bottom: 15px;
    margin-top: 15px;
}

.form-coordinates {
    padding-left: 0;
    margin-bottom: 15px;
    margin-top: 15px;
}

h3 {
    text-align: center;
    text-transform: uppercase;
}

tbody {
    margin-bottom: 5px;
}
@media only screen and (max-width: 576px){

    .search-variable{
        margin-left: 0;
        padding: 10px;
        width: 100%;
    }

    .form-name {
        flex-direction: column;
        justify-content: center;
        flex-flow: column;
        align-items: normal;
    }

    .form-coordinates {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .form-inline .form-control{
        margin-bottom: 5px;
    }

    .search-variable-card{
        border: none;
    }

    .title{
        justify-content: start;
    }
}