.public-submissions{
    display: flex;
    flex: 1;
    box-sizing: border-box;
}

.public-submissions-card{
    margin: auto;
    width: 50%;
    display: flex;
}

.public-submissions-card .card-header{
    justify-content: space-between;
}

.download-template{
    padding-left: 20px;
}

.public-submissions-card-body{
    padding: 0;
    margin-top: 10px;
}

form {
    padding-right: 25px;
    padding-bottom: 20px;
}

.form-group {
    width: 100%;
}

.success-message{
    display: flex;
    flex: 1;
    box-sizing: border-box;
}

.success-message-card{
    margin: auto;
    width: 50%;
    display: flex;
}

.success-message-card .card-header{
    justify-content: center;
}

.success-message-card-body{
    padding: 0;
    margin-top: 10px;
}

.success-message-card-body .card-text{
    padding: 0 10px
}

.success-message-confirm{
    margin-bottom: 15px;
}

@media only screen and (max-width: 576px){
    .public-submissions-form{
        padding-left: 25px;
    }

    .form-group{
        width: 100%;
    }

    .public-submissions{
        margin: 0;
        padding: 10px;
        width: 100%;
    }
    .public-submissions-card{
        width: 100%;
    }

    .public-submissions-card .card-header{
        padding: 10px 0;
    }

    .public-submissions-card .card-header h5{
        margin-left: 10px;
    }

    .public-submissions-card .card-header a{
        margin-right: 5px;
    }

    .success-message{
        margin: 0;
        padding: 10px;
        width: 100%;
    }
    .success-message-card{
        width: 100%;
    }
}
